<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= page.description || '' %>">
  <meta name="author" content="<%= config.author || '' %>">
  <meta name="google-site-verification" content="kmMVDOmnjTrRV0H_HOezr9ZE2TC-nVkFHij--PHM6Sk" />
  <meta name="baidu-site-verification" content="XztgTEW2do" />
  <!-- Open Graph Data -->
  <meta property="og:title" content="<%= page.title || config.title || '' %>"/>
  <meta property="og:description" content="<%= page.description || config.description || '' %>" />
  <meta property="og:site_name" content="<%= config.title || '' %>"/>
  <meta property="og:type" content="<%= page.title ? 'article' : 'website' %>" />
  <meta property="og:image" content="<%= config.url %><%= config.cover %>"/>
  <% if (theme.rss) { %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon) { %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <!-- Site Title -->
  <title><%- config.title %></title>

  <!-- Bootstrap CSS -->
  <%- css('css/bootstrap.min.css') %>
  <!-- Custom CSS -->
  <% var targetStyle = 'css/style.' + (config.theme_style || 'light') + '.css' %>
  <%- css(targetStyle) %>

  <!-- LeanCloud Analytics -->
  <% include leancloud-analytics.ejs %>

  <!-- Google Analytics -->
  <%- partial('google-analytics') %>

  <!-- Baidu Push -->
  <script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https'){
     bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else{
    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>

</head>

